@import url('/static/css/reset.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.8.1/github-markdown.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-vsc-dark-plus.min.css');

:root {
	/*change background*/
	--side-bar-bg-color: #1b1b1b;
	--bg-color: #1b1b1b;

	/*monospace font for codes, fences*/
	--control-text-color: #ddd;
	--monospace: monospace;

	/*change text color*/
	--text-color: #ddd;

	/*background of control items when hover, like menu in sidebar*/
	--item-hover-bg-color: #333;
	--item-hover-text-color: inherit;

	/*background color if list item in file tree or file list*/
	--active-file-bg-color: #444;
	--active-file-text-color: inherit;
	--active-file-border-color: #999;

	/* codeblock color */
	--code-red-color: #FF75B5;
	--code-yellow-color: #FFB86C;
	--code-cyan-color: #19f9d8;
	--code-blue-color: #6FC1FF;
	--code-purple-color: #FF75B5;
	--code-orange-color: #FFB86C;
	--code-green-color: #19f9d8;
	--code-grey-color: hsl(220, 9%, 55%);
	--code-select-bg-color: rgb(64, 72, 89);
	--code-cursor-color: hsl(220, 100%, 66%);
	--mermaid-theme: dark;
}

html {
	background: var(--bg-color) !important;
}

body {
	margin: 2em auto !important;
	max-width: 650px;
	color: #ddd;
	line-height: 1.4;
	background: unset !important;
	font-family: "Vollkorn", Palatino, Times !important;
	text-align: justify;
}

h1 {
	font-size: 3em;
}

h2 {
	margin-top: 2em;
	font-weight: normal;
}

h3 {
	margin-top: 3em;
	font-style: italic;
	font-weight: normal;
}

h1,
h2,
h3 {
	text-align: center;
}

h2:after {
	display: block;
	margin: 0 auto;
	border-bottom: 1px solid var(--text-color);
	width: 100px;
	height: 1px;
	content: '';
}

h1+h2,
h2+h3 {
	margin-top: 0.83em;
}

p {
	margin-top: 0;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

ul {
	padding-left: 1.2em;
	list-style: square;
}

ol {
	padding-left: 1.2em;
}

blockquote {
	margin: 0 0 1.11111rem;
	border-left: 1px solid gray;
	padding: 0.5rem 1.11111rem 0 1.05556rem;
}

blockquote,
blockquote p {
	color: hsl(220, 6%, 60%);
	line-height: 1.6;
}

code,
pre {
	border: 2px solid #444;
	background: #222;
	padding: .3em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	color: #ddd;
	font-size: 0.8em;
}

a {
	color: #2484c1;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

h1 a,
h1 a:hover {
	color: #ddd;
	text-decoration: none;
}

hr {
	margin: 2em 0;
	border-top: solid 1px #333;
	border-right: 0;
	border-bottom: none;
	border-left: 0;
	height: 1px;
	color: #333;
}

table {
	margin-bottom: 1.333333rem
}

table th,
table td {
	vertical-align: top;
	border-top: 1px solid #ddd;
	padding: 8px;
	line-height: 1.333333rem
}

table th {
	font-weight: bold
}

table thead th {
	vertical-align: bottom
}

table caption+thead tr:first-child th,
table caption+thead tr:first-child td,
table colgroup+thead tr:first-child th,
table colgroup+thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
	border-top: 0
}

table tbody+tbody {
	border-top: 2px solid #333
}

/* scrollbar */
::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
	padding-right: 10px;
	width: 8px;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #555 !important;
}

/* scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
	border-radius: 4px;
	background-color: #999 !important;
}

/* Links */
a {
	color: var(--code-blue-color) !important;
}

a:hover {
	color: var(--code-blue-color) !important;
}