:root {
	--header-height: 56px;
	--footer-height: 52px;
	--accent-hue: 20;
}

[data-theme='dark'] {
	--bg-1: oklch(0.2 0.0125 var(--accent-hue));
	--bg-2: oklch(0.15 0.00625 var(--accent-hue));
	--bg-3: oklch(0.5 0.125 var(--accent-hue));
	--text-1: oklch(0.9 0.0625 var(--accent-hue));
	--text-2: oklch(0.8 0.0125 var(--accent-hue));
	--text-3: oklch(0.7 0.0125 var(--accent-hue));
}

[data-theme='light'] {
	--bg-1: oklch(0.95 0.0625 var(--accent-hue));
	--bg-2: oklch(0.8 0.0625 var(--accent-hue));
	--bg-3: oklch(0.65 0.0625 var(--accent-hue));
	--text-1: oklch(0.1 0.0625 var(--accent-hue));
	--text-2: oklch(0.2 0.0625 var(--accent-hue));
	--text-3: oklch(0.3 0.0625 var(--accent-hue));
}

html {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
	font-family: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--text-1);
	scrollbar-width: thin;
}

body {
	position: relative;
	width: 100%;
	min-height: 100svh;
	background: var(--bg-1);
	display: grid;
	grid-template-rows: var(--header-height) 1fr var(--footer-height);
}

@font-face {
	font-family: 'OpenDyslexic';
	src: url('/assets/OpenDyslexic-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

[data-dyslexic='true'] {
	font-family: 'OpenDyslexic', 'Comic Sans MS', 'Comic Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subtext {
	color: var(--text-2);
	font-size: .8em;
}

#config-menu {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100dvh;
	max-height: unset;
	max-width: unset;
	box-sizing: border-box;
	color: white;
	background: oklch(0 0 0 / .5);
	backdrop-filter: grayscale(.5);
	border: unset;
	transition: opacity 1s ease-out, border-radius 1s ease-out, translate 1s ease-out;

	[data-motion='false'] & {
		transition: unset;
	}

	&:not([open]) {
		opacity: 0;
		border-radius: 128px;
		translate: 0 100%;
	}

	h1 {
		text-align: center;
	}

	.subtext {
		margin-top: 10px;
		max-width: calc(100% - 4em);
	}

	form {
		display: grid;
		width: 25vw;
		min-width: 15em;
		max-width: 25em;
		height: fit-content;
		max-height: 100%;
		.option {
			width: 100%;
			height: fit-content;
			display: grid;
			margin-top: 20px;
			grid-template-columns: 2em 1fr 4em;
			> *:not(.switch) {
				display: inline-flex;
				align-items: center;
				margin-right: 1em;
			}
		}
	}

	#enter-site {
		color: inherit;
		background-color: oklch(55% 0.1 145);
		padding: 12px 24px;
		margin-top: 20px;
		border: none;
		border-radius: 8px;
		&:hover, &:focus-visible {
			outline: white solid 2px;
			outline-offset: 2px;
			cursor: pointer;
		}
	}
}

header {
	box-sizing: border-box;
	position: static;
	width: 100%;
	height: 100%;
	background: var(--bg-2);
	border-bottom: var(--bg-3) 1px solid;
}

@keyframes background-slide {
	100% {
		transform: translate(40px, -40px);
	}
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	min-height: 100%;
	overflow: hidden;

	&::before {
		content: "";
		position: absolute;
		top: -100px;
		left: -100px;
		width: calc(100% + 200px);
		height: calc(100% + 200px);
		rotate: -3deg;
		background: radial-gradient(var(--text-3) 1px, transparent 1px);
		background-size: 40px 40px;
		opacity: .125;
	}

	[data-theme='light'] &::before {
		opacity: .4;
	}

	[data-motion='true'] &::before {
		animation: background-slide 8s linear infinite;
	}
}

main {
	padding: 48px;
}

footer {
	box-sizing: border-box;
	position: static;
	width: 100%;
	height: 100%;
	background: var(--bg-2);
	border-top: var(--bg-3) 1px solid;
}

.switch {
	--switch-width: 4em;
	--padding: 4px;
	--knob-size: calc((var(--switch-width) / 2) - (var(--padding) * 2));
	--travel-distance: calc(var(--switch-width) - var(--knob-size) - (var(--padding) * 2));

	position: relative;
	display: inline-block;
	width: var(--switch-width);
	aspect-ratio: 2 / 1;

	input {
		opacity: 0;
		width: 0;
		height: 0;
		position: absolute;
	}

	.slider {
		position: absolute;
		inset: 0;
		cursor: pointer;
		background-color: oklch(20% 0 300);
		border-radius: calc(1px/0);

		[data-motion='true'] & {
			transition: background-color 0.2s ease;
		}

		&::before {
			content: "";
			position: absolute;
			z-index: 2;
			top: var(--padding);
			left: var(--padding);
			width: var(--knob-size);
			height: var(--knob-size);
			background-color: white;
			border-radius: calc(1px/0);
		}

		[data-motion='true'] &::before {
			transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	}

	input:checked + .slider {
		background-color: oklch(55% 0.1 145);

		&::before {
			transform: translateX(var(--travel-distance));
		}
	}

	input:hover + .slider, input:focus-visible + .slider {
		outline: 2px solid oklch(55% 0.1 145);
		outline-offset: 2px;
	}

	.state-text {
		position: absolute;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
		font-family: sans-serif;
		user-select: none;
		pointer-events: none;

		&:first-of-type {
			left: 0.5em;
		}

		&:last-of-type {
			right: 0.5em;
		}
	}
}